@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Space Grotesk", system-ui, sans-serif;
  }
}

.tred {
  color: #ff0000;
}
.bred {
  background-color: #ff0000;
}
